@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Lao:wght@500&family=Rubik&display=swap');

html,body{
    margin:0;
    padding:0;
    font-size: 1rem;
    font-family: 'Noto Serif Lao', serif;
    font-family: 'Rubik', sans-serif;
}

.dark-mode{
    background-color: #000;
}

.dark-mode h1{
    color: #fff;
}

.container{
    max-width: 970px;
    margin:0 auto;
    padding-right:15px;
    padding-left:15px;
    min-height: 100vh;
}

.note-list{
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit , minmax(250px , 1fr));
}

.note{
    background-color: #fef68a;
    padding:1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 170px;
    border-radius: 10px;
    white-space: pre-wrap;
}

.note-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.note.new{
    background-color:#67d7cc;

}

textarea{
    border:none;
    outline: none;
    background-color: #67d7cc;
    resize: none;
}

textarea:focus{
    outline: none;
}

.save-btn{
    border:none;
    border-radius: 10px;
    padding: 0.3rem;
    background-color: #e1e1e1;
}

.save-btn:hover{
    cursor: pointer;
    background-color: #97ece3;
}

.delete-btn{
    font-size: 1.5rem;
}

.delete-btn:hover{
    cursor: pointer;
}

.search{
  background-color: rgba(233, 233, 233);    
  display: flex;
  align-items: center;
  padding: 0.3rem;
  border-radius: 10px;
  margin-bottom: 10px;
}

.search input{
    border: none;
    background: none;
}

.search-icon{
    font-size:1.5rem;
}

.search input:focus{
    outline: none;
}

.header{
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header button{
    border: none;
    padding: 0.5rem;
    border-radius: 10px;
    cursor: pointer;
    font-size: 12px;
}